# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode
.prettierrc.json

# Вспомогательные файлы
*.log*
node_modules/

# Директория с собранными файлами проекта
build/

# Моки
*mocks.json
